{% extends 'base.html.twig' %}

{% block body %}
<link href="{{asset('css/connexion.css') }}" rel="stylesheet" type="text/css"/>
<!--Descriptif des classes dans le fichier css correspondant (css/connexion.css)-->

<div class="connexionContainer">
  <div class="">
    <h1 class="redcol primaryTitle title">Connexion</h1>
  </div>
  <div class="connexion">
    <form action="{{ path('security_login') }}" method="post"> <!--Le formulaire afin de se connecter-->
      <div class="form-group inputAttribute">
        <input placeholder="Adresse email ..." type="text" required name="_username" class="username form-control" value="">
        <!--On utilise le mail pour se connecter, le required name="_username" est néccéssaire quelque soit la méthode de connexion-->
      </div>
      <div class="form-group inputAttribute">
        <input placeholder="Mot de passe ..." type="password" required name="_password" class="password form-control" value="">
        <!--Il en va de même pour name="_password" il est néccéssaire au bon fonctionnement du formulaire-->
      </div>
      <div>
        <button class="btn btn-succes btnShape connexionDisposition" type="submit">Connexion</button>
      </div>
      <!--Décommenter la ligne ci-dessous pour avoir un lien vers l'inscription-->
      <!--<a class="whitecol" href="/inscription">Vous n'êtes pas encore incrit ? cliquer ici</a>-->
    </form>
  </div>

</div>

{% endblock %}
