{% extends 'base.html.twig' %}


{% block title %}Hello HomeController!{% endblock %}
{% block body %}
<link href="{{asset('css/home.css') }}" rel="stylesheet" type="text/css"/>

<div class="carousel"> <!--Carousel-->

</div>


<div class="about">
<h3 class="redcol">About</h3>
<p>La Braise dorée assure à sa clientèle convivialité et qualité. Nous vous proposons un service qualitatif et authentique, à l'image de enseigne.</p>
</div>
<div class="boxSize df fww"> <!--df=display: flex, fw=flex-wrap: wrap, cette div sert pour englober l'image de la devanture et les horraires-->

  <div class="df"> <!--la div pour la devanture-->
    <img src="{{asset('asset/devanture.jpg')}}" alt="Devanture de la pizzeria" width="500px" height="500px">
  </div>

  <div class="df fdc txtA"> <!--fd=flex-direction: column, la div pour les horraires-->
      <h3 class="redcol">Horraires</h3>
      <p class="hourDescript">Il se peut qu'il y ait des changements horraires pendant les périodes de vacansses scolaires.</p>
      <div>
        <table class="ma"> <!--Affichage des horraires, ma=margin: auto-->
          <tr>
            <td></td>
            <td class="txtA">Matin</td> <!--txtA=text-align: center-->
            <td class="txtA">Après-Midi</td>
          </tr>
          <tr>
            <td class="spacing">Lundi</td> <!--cette classe permet d'avoir un espacement entre les td-->
            <td class="spacing">11h00-14h00</td>
            <td class="spacing">18h00-23h00</td>
          </tr>
          <tr>
            <td class="spacing">Mardi</td>
            <td class="spacing">11h00-14h00</td>
            <td class="spacing">18h00-23h00</td>
          </tr>
          <tr>
            <td class="spacing">Mercredi</td>
            <td class="spacing">11h00-14h00</td>
            <td class="spacing">18h00-23h00</td>
          </tr>
          <tr>
            <td class="spacing">Jeudi</td>
            <td class="spacing">11h00-14h00</td>
            <td class="spacing">18h00-23h00</td>
          </tr>
          <tr>
            <td class="spacing">Vendredi</td>
            <td class="spacing">11h00-14h00</td>
            <td class="spacing">18h00-23h00</td>
          </tr>
          <tr>
            <td class="spacing">Samedi</td>
            <td class="spacing">Fermée</td>
            <td class="spacing">18h00-23h00</td>
          </tr>
          <tr>
            <td class="spacing">Dimanche</td>
            <td class="spacing">Fermée</td>
            <td class="spacing">Fermée</td>
          </tr>
        </table>
      </div>
  </div>
</div>
{% endblock %}
