.baseContainer {
  background-color: black;
  background-size: cover;
  font-size:1.2em ;
  color: white;
}

.redcol { /*couleur réservé pour les titres*/
  color: #ed000b;
}

.whitecol { /* couleur réservé pour les infos de tout les produits(uniquement dans leur page de création/edit/etc...)*/
  color:white;
}

.colLink:hover { /*Au survol des liens, on leurs change leurs couleurs en blancs*/
  color: white;
}

.blockContainer {
  min-height: 898px;
}

.logo {
  text-decoration: none;
}

.headerLeft { /*Navigateur à gauche du logo*/
 margin:18% 0 0 0;
}

.headerRight { /*Navigateur à droite du logo*/
  margin: 31% 0 0 0;
}

.navPos {
  position:fixe
}

.dff {
display:flex;
justify-content: space-around;
flex-direction: row;
flex-wrap: wrap;

}

.txtac {
  justify-content: center;
  text-align: center;
  padding: 0 4% 0 0;
}

.separator {
  color: red;
  border: 1px solid;
  opacity: 0.5;
}

.footerContainer {
  text-align: center;
}

.reseauSociau {
  margin:0 15px 0 15px;
}


a {
  color: white;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

a:after {
  color: white;
  bottom: 0;
  content: "";
  background: #fff;
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after {
  color: white;
  width: 100%;
  left: 0;
}

.jcc {
  justify-content: center;
}

.df {
  display: flex;
}
