.baseContainer { /*cette classe est reprise dans toute les pages, celle-ci permet de changer l'écriture, le fond, la forme de la page*/
  background-image: radial-gradient(circle at top left, black, black ,rgb(10, 0, 0) 70%, rgb(23, 0, 0) 80% );
  font-size:1.2em ;
  color: white;
}

.redcol { /*couleur réservé pour les titres*/
  color: #ed000b;
}

.whitecol { /* couleur réservé pour les infos de tout les produits(uniquement dans leur page de création/edit/etc...)*/
  color:white;
}

.colLink:hover { /*Au survol des liens, on leurs change leurs couleurs en blancs*/
  color: white;
}

.blockContainer {
  min-height: 898px;
}

.divHeaderGauche { /*Navigateur à gauche du logo*/
margin: 0 0 0 -6%;
}

.headerLeft { /*Navigateur à gauche du logo*/
  padding: 11% 0 0 0;
  margin: 0 0 0 0;
}


.headerRight { /*Navigateur à droite du logo*/
  padding: 19% 0 0 0;
}

.headerRightConnect {
  padding: 13% 0 0 0;
}

.navPos {
  position:fixe;
}

/*.dff {
display:flex;
justify-content: center;
flex-wrap: wrap;
}*/

.txtac {
  justify-content: center;
  text-align: center;
  padding: 1%;
}

.separator {
  color: red;
  border: 1px solid;
  opacity: 0.5;
}

.footerContainer {
  text-align: center;
}

.reseauSociau {
  margin:0 15px 0 15px;
}


.linkUnderline { /*Positionnement du surlignement*/
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.linkUnderline:after { /*Permet le soulignement partant du centre pour aller à gauche et à droite du lien*/
  color: white;
  bottom: 0;
  content: "";
  background: #fff;
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.linkUnderline:hover:after { /*Au hover on change la couleur de notre surlignement*/
  color: white;
  width: 100%;
  left: 0;
}

.jcc {
  justify-content: center;
}

.df {
  display: flex;
}
