.connexionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.connexion {
  display: flex;
  justify-content: center;
}

.title {
  text-align: center;
  margin: 2% 0 4% 0;
}



.inputAttribute { /*Taille des champs*/
  width: 350px;
  margin: 0 0 10% 0;
}

.btnShape {
  border-radius: 25%;
  width: 85px;
  height: 30px;
}

.connexionDisposition {
  float: right;
}

.btn{ /*Concerne le boutton submit, class pour toute la décoration du bouton*/
  border:none;
	padding:6px 0 6px 0;
	border-radius:8px;
	background:rgb(120, 0, 0);
	font:bold 13px Arial;
  color:white;

}

.btn:hover {
  color:black;
  background:white;
  border: solid 1px black;
  border-radius:8px;
}
