.placementElem { /*Permet de placer l'adresse à gauche et le contact à droite*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.adresse { /*La div de l'adresse*/
  display: flex;
  flex-direction: column;
}

.adresseTitle { /*Le titre, "Adresse"*/
  text-align: center;
}

.adresseInfo { /*Adresse complète + numéro de téléphone*/
  text-align: center;
}

.divContact {
  display: flex;
  flex-direction: column;
}

.contactTitle { /*Le titre, "Contact"*/
  text-align: center;
}


.labelDisposition { /*Disposition des labels dans le formulaire contact*/
  margin: 500px 0 0 0;
}

.inputDisposition { /*Disposition des champs*/
  margin: 2%;
}

.boutonSubmit {

}
