.carousel {
  margin: -1.3% 0 0px 0;
}

.w-100 {
  height: auto;
}

.carouselBtn { /*Les boutons ne sont passes pas sur le header grâce à ce z-index */
  z-index: 1;
}

.about { /*Positionnement des éléments dans la div*/
  text-align: center;
  width: auto;
  min-height: 500px;
  margin: 6% 25% 5% 25%;
}

.txtA {
  text-align: center;
}

.fdc {
  flex-direction: column;
}

.fww {
  flex-wrap: wrap;
}

.boxSize {
  min-height: 500px;
  justify-content: center;
}

.box {
  flex:1 1 160px;
}

.hourDescript {
  margin: 0 20% 5% 20%;
}

.ma {
  margin:auto;
}

.spacing {
  padding: 10px;
}

.textInfo {
margin: 4% 0 0 0 ;
padding: 0 6% 0 6%;
line-height: 2em;
}

.formuleContainer {
  background-color: #EFEFEF;
  margin: -5px 0 0 0;
  min-height: 500px;
}

.formuleDirection {
  display: flex;
  justify-content: column;
}

.posFormule {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 2% 3% 2%;
}


.carouselWith {
  width: 300px;
}

.nosForumle {
  text-align: center;
  margin: 2% 0 4% 0;
}

.formuleTitle {
  width: 320px;
  font-size: 1.5em;
}

.linkPizza {
  text-align: center;
  padding: 3% 0 5% 0;
}

.linkPizzaTxt {
  font-size: 1.6em;
}

.colLinkPizza:hover { /* Au survol des liens, on leurs change leurs couleurs en blancs */
  color: #2F2E2E;
}





.horaireBackground {
    background-color: #1F1E1E;
    padding: 3% 0 3% 0;
}

.horraireTitle {
  margin: 0 0 2% 0;
}

@media (min-width: 1600px) {

  .w-100 {
    height: 1080px;
  }
}
