.carousel {
  margin: -1.3% 0 0px 0;
}


.about {
  text-align: center;
  width: auto;
  margin: 5% 25% 5% 25%;
}

.txtA {
  text-align: center;
}

.fdc {
  flex-direction: column;
}

.fww {
  flex-wrap: wrap;
}

.boxSize {
  justify-content: center;
}

.box {
  flex:1 1 160px;
}

.hourDescript {
  margin: 0 20% 5% 20%;
}

.ma {
  margin:auto;
}

.spacing {
  padding: 10px;
}

.textInfo {
line-height: 1.9em;
}
