.pdfContainer{ /*Il s'agit du  dégradé de la page*/
background:-webkit-gradient(linear,left top,left bottom,color-stop(10%,rgb(14, 14 ,14)),color-stop(30%,rgb(35, 0, 0)),color-stop(55%,rgb(40, 0, 0)),color-stop(70%,rgb(25,8,8)),color-stop(85%,rgb(23, 0, 0)),color-stop(100%,rgb(14, 14 ,14)));
width: 1100px;
min-height: 4670px;
font-size: 1.3em;
}

.footMargin {
  margin:  0 0 -100% 0;
}


.imgDispo {
  text-align: center;
  margin: 0 0 5% 0;
}

.title {
  color:red;
  text-align: center;
  margin: 3% 0 3% 0;
}

.pizzaPrice{
  display: flex;
}

.priceCol {
  color: white;
}

.priceColMoy {
  color: white;
  text-align: right;
  margin: 0 10.5% 0 0;
}

.priceColGra {
  color: white;
  text-align: right;
  margin: -2.9% 1% 0 0;
}

.tableColor{
  color:white;
}

.ciabattaPrice{
width: 100px;
}
