.miniTitle { /*les h3 (uniquement dans les partie pizzas)*/
  font-size: 1.1em;
  margin: 10px 3px 0 3px;
}

.highTitle { /*les autres h3 (Ciabattas, Lasagnes, Désserts ...)*/
  font-size: 2.5em;
  text-align: center;
}


.ancrage { /*lien perméttant de se déplacer instantanément au gros titre correspondant*/
  display:flex;
  margin: 2% 2% 8% 2% ;
}


.primaryTitle { /*le h1 et les h2, regroupant tout les gros titres */
  text-align: center;
}

.shortcut { /*Div des plusieurs liens d'ancrages perméttants un déplacement rapide sur la page*/
  display: flex;
  justify-content: center;
}

.placementTitle { /**/
  display: flex;
  justify-content: center;
}

.placementProduit {
  display: flex;
  flex-direction: column;
  margin: 0 2% 0 4%;
}

.allPizza { /*Div regroupant les 3 types de pizzas*/
  display: flex;
}

.positionPizza { /**/
  display: flex;
  flex-wrap: wrap;
  margin: 5% 0 5% 0;
  max-height: 20%;
}

.imgPizza {
  display:flex;
}


.divPizza {/*div principale du prix regroupant le titre et les ingrédients assocciés à la pizza*/
  width: 43%;
  min-height: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  border: white solid;
}

.posIngredient { /*Positionnement des ingrédients (uniquement pour la partie pizza)*/
  margin: 5% 0 0 0;
}

.divPrix{ /*div principale du prix regroupant le titre et le prix assoccié à la pizza*/
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  border: white 0.1em solid ;
}

.posPrix { /*position du prix de la pizza*/
  margin: 25% 0 25% 0;
}

.autrePizza { /*Autre que pizza blanche et rouge ( Nutella )*/
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.autrePrix { /*Prix des pizzas dans la catégorie "Sucrée"*/
  display: flex;
}

.autreProduit { /**/
  display: flex;
  flex-wrap: wrap;
  margin: 0 2% 0 4%;
}


.produitTypePlacement {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.divSeparation { /*Espace entre chaque produit*/
  margin:2%;
}

.nomProduit { /*Text sous l'image des produits autres que les pizzas*/
  text-align: center;
  font-size: 1.5em;
}
