{% extends 'base.html.twig' %}


{% block page_title %}
Création de tout les produits
{% endblock %}

{% block page_metadata %}

<meta charset="utf-8" name="description" content="Création de tout les produits de la Braise Dorée" />
{% endblock %}
{% block body %}
<link href="{{asset('css/admin.css') }}" rel="stylesheet" type="text/css"/>
<!--Descriptif des classes dans le fichier css correspondant (css/admin.css)-->

<h1 class="mainTitle redcol">Création de tout les produits</h1>
<div class="creationList">
  <li class="df placementList"> <!--headerLeft sert à gérer la marge du menu à gauche de l'image -->
    <a class="redcol colLink linkUnderline" href="/admin/pizza">Crée une pizza</a>
  </li>
  <li class="df placementList">
    <a class="redcol colLink linkUnderline" href="/admin/otherproduct">Crée un produit (autre que pizza)</a>
  </li>
  <li class="df placementList">
    <a class="redcol colLink linkUnderline" href="/admin/drink">Crée une boisson</a>
  </li>
</div>
{% endblock %}
