{% extends 'base.html.twig' %}


{% block title %}{% endblock %}
{% block body %}
<link href="{{asset('css/admin.css') }}" rel="stylesheet" type="text/css"/>

<div class="creationList">
  <li class="df placementList"> <!--headerLeft sert à gérer la marge du menu à gauche de l'image -->
    <a class=" colLink" href="/admin/pizza">Crée une pizza</a>
  </li>
  <li class="df placementList">
    <a class=" colLink" href="/admin/otherproduct">Crée un produit (autre que pizza)</a>
  </li>
  <li class="df placementList">
    <a class=" colLink" href="/admin/drink">Crée une boisson</a>
  </li>
</div>
{% endblock %}
