{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<div class="df">

  <div>
    <h3>Adresse</h3>
    <p></p>
    <p>Tel : 00 00 00 00 00 00</p>

  </div>


  <div>
    <form>
      <div class="">
        <label for="name">Nom complet</label>
        <input type="text" id="name" name="name" required>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" required>
      </div>
      <label for="sujet">Sujet</label>
      <input type="text" id="sujet" name="sujet" required>
      <label for="message">Message</label>
      <input type="textarea" id="message" name="message" required maxlength="350">

      <input type="submit" id="submit" name="submit" value="Envoyer">

    </form>
  </div>
</div>
{% endblock %}
