{% extends 'base.html.twig' %}

{% block title %}New Drink{% endblock %}

{% block body %}
    <h1>Create new Drink</h1>

    {{ include('drink/_form.html.twig') }}

    <a href="{{ path('drink_index') }}">back to list</a>
{% endblock %}
